<html data-ng-app='autocompleteDemo'>
<head>
<script type='text/javascript' src='lib/angular.js'></script>
<script type='text/javascript' src='js/app.js'></script>
<script type='text/javascript' src='js/autocomplete-directive.js'></script>
<style type='text/css'>
  .selected {
    background:red;
  }
  .blueselected{
    background:blue;
  }
</style>
</head>
<body >
WHY DOES NOTHING SHOW
  <div  data-ng-controller='tagsCtrl' class="datasource">
    Autocompleting in angular should be pretty easy, no? I wrote this so that I could have an easy way to mimic the tagging function in WordPress in <a href="http://mattkatz.github.io/Orbital-Feed-Reader">Orbital Feed Reader</a>.
    <p>The simplest thing is to give a data-suggestion-source of an array and a model to store the value in.</p>
    <p>Here the array is: [<span data-ng-repeat="item in tagSource">"{{item}}",</span>] </p>
    <mk-autocomplete id='autosuggest' data-suggestion-source='tagSource' data-ng-model='tags' ></mk-autocomplete>
    <p>You can change the multiple-separator from the default of ", " to something like "|"</p>
    <mk-autocomplete id='autosuggest' data-suggestion-source='tagSource' data-ng-model='tags' data-multiple-separator='|'></mk-autocomplete>
    <p>By default, the min-length before suggestions start appearing is 2 characters. Here min-length is 4. Try typing in "poli".</p>
    <mk-autocomplete id='autosuggest' data-suggestion-source='tagSource' data-ng-model='tags' data-min-length='4'></mk-autocomplete>

    <p>You can specify a specific css class for the selected item. Here we'll change from the default of 'selected' to blueselected</p>
    <mk-autocomplete id='autosuggest' data-suggestion-source='tagSource' data-ng-model='tags' data-select-class='blueselected'></mk-autocomplete>
  </div>
</body>

</html>
